/************RESET CSS**************************/
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-weight: normal;
  margin: 0;
  padding: 0; }

ol, ul { list-style: none; }

img {
  height: auto;
  max-width: 100%; }



  /*****************************************************/

  body {
      background-color: #0A0C1C;
      color: #ffff;
      font-family: 'Inter', sans-serif;
  }


  .container-main {
      display: flex;
      flex-direction: column;
      width: 80vw;
      background-color: #1b1937;
      margin: 10vh auto 5vh auto;
      border-radius: 15px;
      

      .img {
        background: url('assets/image-header-mobile.jpg') rgba(171, 92, 219, 0.75);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        width: 100%;
        height: 240px;  
        border-radius: 15px 15px 0 0;
      }

      .info {
          width: 80%;
          margin: 10% auto;
          display: flex;
          flex-direction: column;

          h1 {
            align-self: center;
            font-weight: bold;
            font-size: 28px;
            line-height: 32px;
            text-align: center;
            width: 80%;  

            span {
                color: #ab5cdb;
            }
          }



          p {
             font-size: 15px;
             line-height: 25px;
             margin-top: 10%;
             align-self: center;
             text-align: center; 
          }

          .stats {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 20%;

              .stat {
                  text-align: center;
                  margin-bottom: 10%;

                  .stat-no {
                    font-weight: bold;  
                  }

                  .stat-title {
                      font-family: 'Lexend Deca', sans-serif ;
                      font-size: 12px;
                      line-height: 25px;
                  }

              }
          }
      }
  }


  /***********Media Queries******************/

  @media(min-width: 1280px) {
      .container-main {
          flex-direction: row-reverse;
          max-width: 1000px;
          max-height: 500px;
          margin: 40vh auto;

          .img {
            background: url('assets/image-header-desktop.jpg') rgba(171, 92, 219, 0.75);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: multiply;
            min-height: 500px;
           // max-height: 800px;
            border-radius: 0 15px 15px 0;
            
          }

          .info {
              width: 100%;
              margin: 8% 5% 5% 5%;
              

              h1 {
                  align-self: stretch;
                  text-align: left;
                  font-size: 36px;
                  line-height: 44px;
              }

              p {
                align-self: stretch;
                text-align: left;
                margin-top: 5%; 
                max-width: 80%; 
              }


              .stats {
                  flex-direction: row;
                  max-width: 70%;
                  justify-content: space-between;
                  margin-top: 15%;

                  .stat {
                      margin-bottom: 5%;

                      .stat-no {
                          font-size: 24px;
                      }

                      .stat-title {
                          font-size: 12px;
                      }
                  }
              }
          }
      }
  }